// Fonts
$font-heading: 'Bebas Neue', sans-serif;
$font-body: 'DM Sans', sans-serif;

// Colors
$primary: #FF3C3C;
$text-main: #F4F4F5;
$text-muted: #a1a1aa; // Grey text for Learn More and paragraph
$bg-color: #09090b; 
$bg-color-features: #111113;
$card-bg:#18181C;
$icon-bg:#341C20;
$stat-label:#404046// Deep dark background